* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #e8e8eb;
}

nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  background: linear-gradient(207.8deg, #201E1C 5.69%, #4311f5 100%);
}
nav__enlaces {
  margin-top: auto;
}
nav a {
  display: inline-block;
  color: #FFF;
  font-size: 1.7rem;
  text-decoration: none;
}

.notices {
  width: 100%;
}
.notices__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}
.notices__article--img {
  width: 100%;
}
.notices__article--img {
  width: 100%;
}
.notices__article--title {
  position: absolute;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: auto;
  background-color: rgba(34, 34, 34, 0.8);
  padding-top: 2px;
}
.notices__article--title a {
  display: inline-block;
  padding-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.notices-secundaries-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
}
.notices-secundaries-slider .notices__article {
  position: relative;
  scroll-snap-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-right: 5px;
  min-width: 220px;
  max-width: 300px;
}

.reviews__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  max-width: 400px;
  margin: auto;
  height: auto;
  margin-top: 10px;
  background-color: white;
}
.reviews__article a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 15px;
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  padding-left: 20px;
}
.reviews__article img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: auto;
}

.article-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 97%;
  margin-left: 0;
  height: auto;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}
.article-big .article-big__img {
  width: 40%;
}
.article-big .article-big__img img {
  width: 100%;
}
.article-big .article-big__content {
  padding: 15px 10px;
  width: 60%;
}
.article-big .article-big__content a {
  display: block;
  font-size: 1.7rem;
  margin-bottom: 5px;
  text-decoration: none;
  color: #1f1e1e;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  background: linear-gradient(207.8deg, #201E1C 5.69%, #4311f5 100%);
}
.footer__info {
  width: 70%;
  text-align: center;
  font-size: 1rem;
  color: aliceblue;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
}
.footer__info p {
  margin-bottom: 20px;
}
.footer__contact {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 20px;
}
.footer__contact a {
  color: #FFF;
  text-decoration: none;
  margin-left: 30px;
}