include ./pug/components/mixins.pug
doctype html
html(lang="en")
  include ./pug/components/head.pug
  body
    include ./pug/components/header.pug  
    main 
      section.notices
        +notice("../assets/img/geforce-rtx-30.jpg","imagen de targeta grafica RTX","#","LA SITUACION ACTUAL DE LAS TARGETAS DE VIDEO / TIPS PARA CONSEGUIR TARGETAS DE VIDEO")
        +notice("../assets/img/E3-2021.jpg","imagen del e3 2021","#","Resumen de las noticias mas importantes del E3 2021")
      section.notices-secundaries-slider
        +notice("../assets/img/Windows11.jpg","imagen de windows 11","#","Se viene windows 11!!, O almenos todos los rumores apuntan a ello")
        +notice("../assets/img/minecraft-1-17-parte-1.jpg","imagen de minecraft 1.17","#","La primera parte de la gran actualizacion de Minecraft 1.17")
        +notice("../assets/img/stalker2.jpg","imagen de stalker 2","#","Se anuncia Stalker2 en el E3, la secuela de un shoter clasico")
      section.reviews 
        +Reviews("../assets/img/PC-XZEAL.jpg","imagen de mouse gamin XZEAL 950","#","El mejor mouse gamer economico / Mouse XZEAL XZ950") 
        +Reviews("../assets/img/gt1_specs1.jpg","imagen de audifonos haylou gt1 plus","#","Los mejores audifonos Bluetooth economicos del mercado / Hylou gt1 plus") 
      +article-big("../assets/img/Windows11.jpg","imagen de windows 11","#","Se filtra windows 11!! Ya es posible instalarlo!!!","Justo un par de semanas despues de que se anunciara windows 11 se filtra un archivo iso el cual le permite a cualquier persona que lo posea instalar esta beta o incluso vercion alfa del sistema operativo pero no sin tener bien en cuenta las siguientes indicasiones")
    include ./pug/components/footer.pug 
