footer.footer 
  section.footer__info
    p En DapTec encontraras reviews, noticias, lanzamientos y mucho mas relacionado con el mundo de la tegnologia y de los videojuegos
    p Ademas de mi pagina tambien soy un webdeveloper y esta pagina es muestra de mi trabajo asi que si estas interesado/a puedes contactarme en las redes que te dejare justo abajo
  section.footer__contact 
    a(href="#") Linkedin
    a(href="#") facebook
    a(href="#") GitHub
  section.footer__logo