$color-primario: #19134e;
$color-secundario: #c2121b ;
$color-variacion: #3f579a;
$color-claro: #FFF;
$color-oscuro: #1f1e1e;
$color-fondo: #e8e8eb;
$background-degradado: linear-gradient(207.8deg, #201E1C 5.69%, #4311f5 100%);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body{
  margin: 0;
  background-color: $color-fondo;
}